<div class="button-group">
    {% set profiles = grav.backups.getBackupProfiles() %}
    {% set backup_url = uri.addNonce(base_url_relative ~ "/backup.json/id" ~ config.system.param_sep ~ "%BACKUP_ID/task" ~ config.system.param_sep ~ "backup", 'admin-form', 'admin-nonce') %}

    <button class="button" data-backup data-ajax="{{ backup_url|replace({'%BACKUP_ID':'0'}) }}">
        <i class="fa fa-life-ring"></i> {{ "PLUGIN_ADMIN.BACKUP_NOW"|t }}
    </button>
</div>
