{% extends 'partials/base.html.twig' %}

{% set title = "PLUGIN_ADMIN.DASHBOARD"|t %}

{% set clear_cache_url = base_url_relative ~ '/cache.json/task' ~ config.system.param_sep ~ 'clearCache'|e('html_attr') %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-th"></i> {{ "PLUGIN_ADMIN.DASHBOARD"|t }}</h1>
{% endblock %}

{% block widgets %}

    {# System notifications, cannot be turned off #}
    {% include 'partials/dashboard-problems.html.twig' %}

    <div id="admin-dashboard">
        {% if grav.twig.plugins_hooked_dashboard_widgets_top %}
            {% for widget in grav.twig.plugins_hooked_dashboard_widgets_top %}
                {% if attribute(config.plugins.admin.widgets_display, widget.template)|string in ['1', 'true'] %}
                    <div class="dashboard-item-flex">
                        {% include 'partials/' ~ widget.template ~ '.html.twig' %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

